.userCardBox{
    height: 800px;
    width: 1550px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 50px;
    border-style: groove;
}

    .userBanner{
        height: 180px;
        width: 1550px;
        background-color: cadetblue;
    }

    .userContent{
        height: 620px;
        width: 950px;
        background-color: white;
    }

        #user{
            height: 190px;
            width: 200px;
            border-radius: 100px;
            position: relative;
            top: -60px;
            left: 80px;
            display: flex;
            justify-content: space-between;
        }

        .name{
            font-size: 80px;
            position: relative;
            top: -30px;
            left: 60px;
        }

        .locationBox{
            position: relative;
            left: 70px;
        }

            #map-marker{
                height: 30px;
                position: relative;
                right: 10px;
            }

            .location{
                font-size: 50px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            }
    
        .bio{
            height: 150px;
            width: 700px;
            position: relative;
            top: 20px;
            left: 60px;
            font-size: 40px;
        }

        .editProfile{
            font-size: 40px;
            position: relative;
            left: 50px;
            top: 20px;
        }

            #gear{
                height: 40px;
                position: relative;
                top: 7px;
            }
